@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Darkcyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Verydarkgreen: hsl(150, 74%, 12%);
  --Darkgrayishblue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--Cream);
  display: flex;
  justify-content: center;
  align-items: center;
}
#desktopimg {
  width: 300px;
  border-radius: 12px 0 0 12px;
}

#mobileimg {
  display: none;
}
.container {
  width: 594px;
  height: 445px;
  display: flex;
  background-color: var(--White);
  border-radius: 12px;
}
.details {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 22px;
  margin: 7px;
  align-items: flex-start;
}

p {
  font-size: 14px;
  margin-bottom: 16px;
  color: var(--Darkgrayishblue);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.h1 {
  margin-bottom: 30px;
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.para {
  line-height: 20px;
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.price h1 {
  color: var(--Darkcyan);
  font-family: "Fraunces", serif;
  font-weight: 500;
}
.price s {
  margin: 18px;
  font-size: 13px;
  font-family: "Fraunces", serif;
  color: var(--Darkgrayishblue);
}
.btn {
  background-color: var(--Darkcyan);
  width: 100%;
  height: 42px;
  color: white;
  border: none;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#icon {
  margin-right: 10px;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--Verydarkgreen);
}

@media (max-width: 656px) {
  #desktopimg {
    display: none;
  }
  #mobileimg {
    display: block;
    width: 365px;
    border-radius: 12px 12px 0 0;
  }
  .container {
    margin-top: 50px;
    width: 365px;
    height: 100%;
    display: flex;
    background-color: var(--White);
    border-radius: 12px;
    flex-direction: column;
  }
  .details {
    width: 96%;
    display: flex;
    flex-direction: column;
    padding: 22px;
    margin: 7px;
    align-items: flex-start;
  }
  body {
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135%;
  }
  .btn {
    background-color: var(--Darkcyan);
    width: 100%;
    height: 50px;
    color: white;
    border: none;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
}

@media (min-width: 656px) {
body {
  background-color: var(--Cream);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
}
